/* General styles */
html {
    width: 500px;
    background-image: url('../images/starfield.gif');
    background-repeat: repeat;
}

ol {
    list-style-position: inside;
}

.field {
    margin: .5em;
}

.attribution {
    margin-top: 10px;
    float: right;
}

.navbar {
    border-radius: 0 0 .4em .4em !important;
    background-color: #002b36 !important;
    border-bottom: 2px solid black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #002b36;
    background-color: rgba(42, 161, 152, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: .4em;
}

/* Form styles */
input, select {
    background-color: #073642 !important;
}

/* Gif list styles */
#gifList {
    padding: 0 0.5em 1.5em 0.5em;
}

.column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button styles */
.button-icon {
    display: inline-block;
    vertical-align: middle;
}

/* Container styles */
.flex-container {
    background-color: #073642;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1.5em 0em;
    border-radius: .4em;
}