<div class="message-header">Giphy API Key Required</div>
<div class="message-body">
    <p>To use this extension, you need a Giphy API key. Follow the instructions below to obtain one:</p>
    <ol>
        <li>Go to the Giphy Developers website at <a href="https://developers.giphy.com/" target="_blank">https://developers.giphy.com/</a></li>
        <li>Click the "Create an App" button and follow the instructions to create a new Giphy app.</li>
        <li>Copy the API key for your app.</li>
    </ol>
    <form class="form">
        <div class="field">
            <label class="label">Giphy API Key</label>
            <div class="control">
                <input class="input" type="password" placeholder="Enter your Giphy API key">
            </div>
        </div>
        <div class="field">
            <button class="button is-primary">Save</button>
            <button class="button is-danger">Remove</button>
        </div>
    </form>
</div>